// Fuentes

$fuente--principal: 'Kanit';


// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colores
$dorado--oscuro: #5f571a;
$amarillo: #ffe12b;
$mostaza: #e0c93c;
$dorado--claro: #ad9d4a;
$negro--intenso: #020808;
$negro--mate: #141516;
$blanco: #f8f9fd;

$separacion: 5rem;

// Fuentes

$light: 300;
$regular : 400;
$bold: 700;
$black: 900;